    body
{
    font-family: sans-serif;
    color: #3c3939;
    background-color: #f1f1f1;
}
    .profile-card
{
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}
.imgae-container
{
    position: relative;
      bottom: 19px
    
}
.info
{
    color: #4b4fe2;
    margin-right: 16px;
}
.main-container
{
    padding: 5px;
    
}
.skill-bar
{
    background-color: #bdc9ea;
    border-radius: 16px
}
.progress-bar
{
    padding: 0.1em 16px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    background-color: #b40f28;
}
.title
{
   position: absolute;
    left: 5px;
    bottom: 0;
}








